<%= form_tag url, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search by " + search_parameter %>
    <%= submit_tag "Search", :parameter => nil %>
  </p>
<% end %>