<%= render "shared/search", url: admin_participants_path, search_parameter: "email" %>
<div class="List">
  <div class="row">
    <div class="column">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Kit deliveried?</th>
            <th>Paid?</th>
            <th>Credentials created?</th>
            <th>Checkin Done?</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <%= render @participants %>
        </tbody>
      </table>
      <p>
        <%= link_to '', new_admin_participant_path, class: "btn btn-success glyphicon glyphicon-plus", title: 'New participant' %>
      </p>
    </div>
  </div>
</div>
<%= will_paginate @participants, renderer: BootstrapPagination::Rails %>
