<h2 class="title">New Participant</h2>

<%= render 'form', participant: @participant, url: admin_participants_path, name_btn_submit: "Create Participant", plan_id: nil %>

<%= link_to 'Back', admin_participants_path, class: 'btn btn-default glyphicon glyphicon-chevron-left' %>


