<%= render "shared/search", url: admin_plans_path, search_parameter: "name" %>
<div class="List">
  <div class="row">
    <div class="column">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Start time</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <%= render @plans %>
        </tbody>
      </table>
      <p>
        <%= link_to '', new_admin_plan_path, class: "btn btn-success glyphicon glyphicon-plus", title: 'New plan' %>
      </p>
    </div>
  </div>
</div>
<%= will_paginate @plans, renderer: BootstrapPagination::Rails %>
