body{
	background-color: white;
}

.inner-cover, .mastfoot{
	text-align: center;
}

.field{
	margin-top: 15px;
	text-align: center;	
}

.actions{
	margin-top: 5px;
	text-align: center;	
}

.inner{
	margin-top: 2px;
}

.Login{
	font-family: arial, sans-serif;
}

.Login-form{
	background-color: rgba(237,237,237,0.2);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    width: 270px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.Login-logo{
	text-align: center;
}

.Login .logo{
	width: 50%;
}

.Login-title { 
	border:0 solid #fff; 
	border-bottom-width:1px;
	padding-bottom:10px;
	text-align: center;
}

.navbar-brand, .nav navbar-nav pull-right {
	display: flex;
  align-items: center;
}

.icon-logo{
	width: 40px;
	height: 40px;
	font-size: 18px;
}

.margin-right-small{
	margin-right:10px !important;
}

.background_credential {
	margin: 10px;
	border-style: double;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	width: 426px;
	display: inline-block;
}

.double {
	background-image: url("logo_small.png");
	background-repeat: no-repeat;
	width: 420px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 140px;
	padding-bottom: 5px;
	text-align: center;
	color: #314B49;
}

.name {
	font-weight: bold;
	font-size: 37px;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-right: 40px;
	text-align: right;
}

.atributes {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 12px;
}

.credential_area {
	padding-left: 150px;
	font-family: arial;
	line-height: normal;
}

.participant_info {
	text-align: left;
	padding-left: 40px;
}