<%= javascript_include_tag 'users/validate-form' %>

<h2 class="title">Editing User</h2>

<%= render 'form', user: @user, url: admin_user_path, name_btn_submit: "Save" %>

<%= link_to 'Back', admin_users_path, class: 'btn btn-default glyphicon glyphicon-chevron-left' %>

<script type='text/javascript'>
	validateForm($(".edit_user"));
</script>