<%= render "shared/search", url: admin_users_path, search_parameter: "email" %>
<section class="ListUser">
  <div class="row">
    <h1 class = "ListUser-title">Users</h1>
    <div class="column">
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Role</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
      </table>
      <p>
        <%= link_to 'New user', new_admin_user_invitation_path %>
      </p>
    </div>
  </div>
</section>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
