<%= render "shared/search", url: admin_users_path, search_parameter: "email" %>
<section class="ListUser">
  <div class="row">
    <div class="column">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Email</th>
            <th>Role</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
      </table>
      <p>
        <%= link_to '', new_admin_user_invitation_path, class: "btn btn-success glyphicon glyphicon-plus", title: 'New user' %>
      </p>
    </div>
  </div>
</section>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
