<%= javascript_include_tag 'users/validate-form' %>

<h2 class="title">New User</h2>

<%= render 'form', user: @user, url: admin_users_path, name_btn_submit: "Create New User" %>

<%= link_to 'Cancel', admin_users_path %>

<script type='text/javascript'>
	validateForm($("#new_user"));
</script>